/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    /* aspect-ratio: 1; */
    height: 80px;
}

.fixed-image {
    height: 200px;
    /* width: 80px; */
    /* Set a specific height */
    object-fit: cover;
    /* Ensure the image covers the entire area without distortion */
}

.card-title {
    font-weight: bold;
    font-size: 1.1rem;
    /* Adjust the font size for better readability */
    margin-top: 1rem;
    /* Add some space between the image and text */
}

.why-choose-us img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.offers-section .card {
    height: 100%;
}

.offers-section .card img {
    object-fit: contain;
    height: 200px;
}